<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Handle</title>
  <meta name="description" content="IRC Client for Windows"/>
  <meta name="author" content="Florian Lembeck; Bernhard Schwarz"/>
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/foundation.css">

</head>
<body>
  <header class="container">
  <div class="row">
    <div class="four columns">
      <h1>
        <a href="/handle">Handle</a>
      </h1>
    </div>
    <strong class="right">
        <a href="/handle/download">Download</a>
        <a href="https://github.com/adabei/handle/wiki">Wiki</a>
        <a href="https://github.com/adabei/handle">Source</a>
      </strong>
    </div>
  </header>
  <div id="main" class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
  <footer class="row">

  </footer>
</body>
</html>

